<div class="" data-bind="click: flipCard">

    <div class="flip-container text-center ">
        <div class="flip-div" data-bind="css{flipper: isFlipped()}">
            <div class="front">
            </div>
            <div class="back">
                <h3>{{word}}</h3>
                <h4>{{lang}}</h4>
                <img src="/images/iconset-addictive-flavour-set/png files/flags/{{langIcon}}">
            </div>
        </div>
    </div>
</div>