<div>

<button data-bind="click: startSession.bind($data,'controls')" class="btn btn-info" data-toggle="tooltip"  title="{{UI.startMultiChoiceEx}}">
    {{UI.start}}</button>

<div class="modal-container">

</div>
</div>
