<li class="slide">

    <button class="btn btn-default" data-bind="click: showResults">Show results</button>
    <div class="progress">
        <div aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"  class="progress-bar progress-bar-success">
        </div>
    </div>

</li>