<div id="app-container">
    <h3>{{UI.hangman}}

        <small>Implementation of this <a href="http://de.bab.la/spiele/hangman/">game</a></small>
    </h3>

    <div class="row">
            <div id="letter-panel" class="col-lg-6 panel">Letters</div>
    <div id="svg-panel" class="panel col-lg-6"></div>

    </div>
            <div id="word-panel" class="panel"></div>

    </div>