<div id="app-container">
    <h3>{{UI.memory}}
        <small>Implementation of this <a href="http://de.bab.la/spiele/memorize/">game</a></small></h3>
    <div id="options"></div>
    <div id="app"></div>
</div>