<div class="row">
    <h3>{{UI.quiz}} <small>Implementation of this <a href="http://de.bab.la/sprachtest/">game</a> </small></h3>
    {{> sidebar}}
    <div id="app-container" class="col-lg-8">
    </div>
</div>
