<div>
<div class="modal fade app-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="question-gallery swipeshow">
    <ul class="slides text-center">

    </ul>
    <div class='dots'></div>
</div>
    </div>
  </div>
</div>