@import 'nib'

.page-container
  max-width: 800px
  //height: 275px
  margin: 0 auto
  padding: 5px
  margin-bottom: 0.5em
  //color: #fff
  //background-color: #7fc4d6

.page-container > div
  //min-height 800px
  background-position center


.quiz
  //background-image: url('/images/Elegance-Floral-Pattern.jpg')

